<h1>Sign Up!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Username: <%= f.text_field :name %><br><br>
  Password: <%= f.password_field :password %><br><br>
  Confirm Password <%= f.password_field :password_confirmation %><br><br>
  <%= f.submit "Sign Up" %>

<% end %>
